@using Projet2_EasyFid.Models
@model PasswordResetViewModel

<h1>Password reset successful</h1>

<p>Your password has been successfully reset. You can now <a href="/login">log in</a> with your new password.</p>
