@model Projet2_EasyFid.Models.User
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire Utilisateur";
}

    <h2>Création d'un profil utilisateur</h2>

@*On crée le début du formulaire ici pour que le même formulaire puisse être utilisé dans le controller Salarie*@
@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
   <fieldset>
       <legend>Ajout</legend>
       @Html.Partial("UserPartialForm", Model)
       <input type="submit" value="Ajouter" />
   </fieldset>
}