@model Projet2_EasyFid.Models.User
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire Utilisateur";
}

@if (Model == null)
{
    <h2>Création d'un profil utilisateur</h2>
}
else
{
    <h2>Edition du profil de @Model.UserData.Firstname @Model.UserData.Lastname</h2>
}

@*On crée le début du formulaire ici pour que le même formulaire puisse être utilisé dans le controller Salarie*@
@using (Html.BeginForm("ModifyUser", "Admin", FormMethod.Post))
{
    <fieldset>
        <legend>Modification </legend>
        @Html.Partial("UserPartialForm", Model)
        <input type="submit" value="Modifier" />
    </fieldset>
        }
