@model Projet2_EasyFid.Models.User
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire Utilisateur";
}

<h2>Je suis la vue du formulaire utilisateur</h2>

@*On crée le début du formulaire ici pour que le même formulaire puisse être utilisé dans le controller Salarie*@
@using (Html.BeginForm("UserForm", "Admin", FormMethod.Post))
    {
    @Html.Partial("UserPartialForm", Model)
    }