@model List<Projet2_EasyFid.Models.ActivityDate>
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire création d'un CRA";
}

<h2>Formulaire de création du CRA</h2>

<button id="addActivity" type="button" class="btn btn-info">Ajouter une activité</button>

@using (Html.BeginForm("CreateCra", "Salarie", FormMethod.Post))
{
    <fieldset>
        <legend>Formulaire d'ajout</legend>
        @*Liste deroulante pour le choix de l'activité (mission, formation ou absence)*@

        <div id="newActivity">
            <input type="hidden" id="total" name="total" value=0 />
        </div>

        <div name="activityHidden" class="hidden" id="activityHidden">
            <br />

            @Html.Label("activities", "Activité : ")

            @Html.DropDownList("activities", new SelectList(ViewBag.activities, "Id", "LabelActivity"))
            <br />
            @*Calendrier pour choisir la periode de temps*@
            @Html.Partial("SalariePartialForm", Model)


            <button id="deleteActivity" type="button" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>  Supprimer l'activité
            </button>
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i> Valider
        </button>

        <button type="button" class="btn btn-primary btnMargin" onclick="history.back();">
            <i class="fas fa-arrow-left"></i> Retour
        </button>

    </fieldset>
}

@section Scripts {
    <script src="/Scripts/ActivitiesScript.js"></script>
}