@model List<Projet2_EasyFid.Models.ActivityDate>
@{
    Layout = "_Layout";
    ViewBag.Title = "Formulaire création d'un Cra";
}
<h2>Formulaire de création du Cra</h2>

<button id="addActivity" type="button" class="btn btn-info">Ajouter une activité</button>

@using (Html.BeginForm("CreateCra", "Salarie", FormMethod.Post))
{
    <fieldset>
        <legend>Formulaire d'ajout</legend>
        @*Liste deroulante pour le choix de l'activité (mission, formation ou absence)*@

        <div id="newActivity">
            <input type="hidden" id="total" name="total" value=0 />
        </div>

        <div name="activityHidden" class="hidden" id="activityHidden">
            @Html.Label("activites", "Activité : ")
            @Html.DropDownList("activities", new SelectList(ViewBag.activities, "Id", "LabelActivity"))
            <br />


            @*Calendrier pour choisir la periode de temps*@
            @Html.Partial("SalariePartialForm", Model)

            <br />
            <button id="deleteActivity" type="button" class="btn btn-danger">Supprimer l'activité</button>
        </div>
        <input type="submit" value="Valider" />
    </fieldset>
}

@section Scripts {
    <script src="/Scripts/ActivitiesScript.js"></script>
}