@model Projet2_EasyFid.Models.Cra
@{
    Layout = "_Layout";
    ViewBag.Title = "Modification du Cra";
}
<h2>Formulaire de modification du Cra</h2>
@using (Html.BeginForm("UpdateCra", "Salarie", FormMethod.Post))
{
    <fieldset>
        <legend>Modification</legend>

        <div name="activity" id="activity">
            @Html.Label("activites", "Activité : ")
            @Html.DropDownList("activities", new SelectList(ViewBag.activities, "Id", "LabelActivity"))
            <br />

            @*Calendrier pour choisir la periode de temps sur laquelle a été effectuée l'activité (mission, absence ou formation)*@
            @Html.Partial("SalariePartialForm", Model)
   
  
    </fieldset>
}