@model Projet2_EasyFid.Models.Cra
@{
    Layout = "_Layout";
}
<h2>Formulaire de modification du Cra</h2>
@using (Html.BeginForm())
{
<fieldset>
    <legend>Formulaire de modification</legend>
   
   
    </fieldset>
}