@using Projet2_EasyFid.Data.Enums;
@model Projet2_EasyFid.ViewModels.UserViewModel

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4>Mot de passe oublié</h4>
                    <form method="post">
                        <div>
                            <label for="email">Entrez votre adresse e-mail :</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div>
                            <input type="submit" value="Envoyer" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
