@*@model Projet2_EasyFid.Models.Statistics*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Statistiques";
}



    <form>
        <input id="impression" name="impression" type="button" onclick="imprimer_page()" value="Imprimer cette page" />
    </form>

    <div class="container-fluid">
        <div class="row content">
            <br>

            <div class="col-sm-12">
                <div class="well">
                    <h4>Analyse des indicateurs </h4>
                    <p>Commentaires</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <table class="columns" align="center">
                        <tr>
                            <td><div id="linechart1_div" style="border: 1px solid #ccc"></div></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    <table class="columns" align="center">
                        <tr>
                            <td><div id="linechart2_div" style="border: 1px solid #ccc"></div></td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="col-sm-12">
                <div class="well">
                    <h4>Analyse des indicateurs </h4>
                    <p>Commentaires</p>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="well">
                    <table class="columns" align="center">
                        <tr>
                            <td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    <table class="columns" align="center">
                        <tr>
                            <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>





    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/Script.js"></script>
