<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Google Chart in ASP.NET Core MVC</title>
    
</head>
<body>

    <h3>Google Chart in ASP.NET Core MVC</h3>
    <table class="columns">
        <tr>
            <td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="linechart_div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/Script.js"></script>
</body>
</html>