/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Styles for the salarie accueil page */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

table {
    border-collapse: collapse;
    margin: 2rem auto;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.action-link {
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .action-link:hover {
        background-color: #0069d9;
    }

    .action-link:active {
        background-color: #005cbf;
    }

.goldStar {
    color: gold;
}

.redStar {
    color: darkred;
}

.navbar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 4px solid #f76d39;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidenav {
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.btn-danger {
    margin-bottom: 20px;
    margin-top: 5px;
}

.btn-info {
    margin-bottom: 20px;
    margin-top: 20px;
}

#deleteActivity .fas {
    margin-right: 0.7rem;
}

.btn-success .fa-check {
    padding-right: 0.7rem;
}

label[for="activities"] {
    margin-bottom: 15px;
}

label[for="activities"] {
    margin-bottom: 15px;
}

