/* Google Font Import - Poppins */
@import url(‘https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap’);
/* Styles for the salarie accueil page */
body {
    font-family: ‘Poppins’, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    font-family: ‘Poppins’, sans-serif;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
}

h3 {
    font-family: ‘Poppins’, sans-serif;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

table {
    border-collapse: collapse;
    margin: 2rem auto;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.action-link {
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#userComfortGrade > label {
    margin-bottom: 4rem;
}

.action-link:hover {
    background-color: #0069d9;
}

.action-link:active {
    background-color: #005cbf;
}

.goldStar {
    color: gold;
}

.redStar {
    color: darkred;
}

.navbar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 4px solid #f76d39;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidenav {
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.btn-danger {
    margin-bottom: 0px;
    margin-top: 20px;
}

.btn-success {
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 10px;
}

.btn-info {
    margin-bottom: 20px;
    margin-top: 20px;
}

#deleteActivity .fas {
    margin-right: 0.7rem;
}

.btn-success .fa-check {
    padding-right: 0.7rem;
}

.btn-primary .fa-arrow-left {
    padding-right: 0.7rem;
}

body > div.container-fluid.text-center > div > div.col-sm-8.text-left > div > div > div > button {
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 10px;
}

.btnMargin {
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 10px;
}

.taille {
    width: 120%;
}

#activities {
    width: 14%;
}

label[for=“activities”] {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-right: 60px;
}

.status-green {
    color: green;
    font-weight: 600;
}

.status-orange {
    color: darkorange;
    font-weight: 600;
}

.status-blue {
    color: blue;
    font-weight: 600;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

#activityHidden > label:nth-child(5) {
    padding-bottom: 10px;
    padding-right: 11px;
}

#activityHidden > label:nth-child(8) {
    padding-right: 35px;
}

#Menu1 > ul.nav.navbar-nav.navbar-right > li:nth-child(1) > a > i {
    padding-right: 7px;
}

#Menu1 > ul.nav.navbar-nav.navbar-right > li.dropdown > a > i {
    padding-right: 7px;
}

#activityHidden > button.btn.btn-primary > i {
    padding-right: 0.7rem;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
}

body > div.container-fluid.text-center > div > div:nth-child(1) {
    position: relative;
    min-height: 1px;
    max-width: 200px;
    padding-right: 0px;
    padding-left: 0px;
}
/* On small screens, set height to ‘auto’ for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-md-6, .col-md-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

.form-check, .pad15 {
    padding:0 15px
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

